<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
            http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
            
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
    	<property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
    </bean>
    
    <bean id="articleDao" class="net.viralpatel.struts2.dao.ArticleDao">
    	<property name="sessionFactory" ref="sessionFactory" />
    </bean>
            
    <bean id="articleServ" class="net.viralpatel.struts2.service.ArticleServiceImpl">
    	<property name="articleDao" ref="articleDao" />
    </bean>
    
    <bean id="articleDetailAction" class="net.viralpatel.struts2.action.ArticleDetailAction" scope="prototype">
        <property name="articleServ" ref="articleServ"></property>
    </bean>
    
    <bean id="articleListAction" class="net.viralpatel.struts2.action.ArticleListAction" scope="prototype">
        <property name="articleServ" ref="articleServ"></property>
    </bean>
    
    <bean id="indexAction" class="net.viralpatel.struts2.action.IndexAction" scope="prototype">
        <property name="articleServ" ref="articleServ"></property>
    </bean>

</beans>